# build artifacts
checkpassword-dovecot
*.o

# generated documentation (org is the source of truth)
man/*.8
doc/dsmr-checkpassword-dovecot.texi
doc/dsmr-checkpassword-dovecot.info
doc/dsmr-checkpassword-dovecot.html

# debian build outputs
debian/.debhelper/
debian/dsmr-checkpassword-dovecot/
debian/dsmr-checkpassword-dovecot.substvars
debian/dsmr-checkpassword-dovecot.debhelper.log
debian/debhelper-build-stamp
debian/files
debian/*.log

# parent-dir build outputs (dpkg-buildpackage drops them next door)
../dsmr-checkpassword-dovecot_*.deb
../dsmr-checkpassword-dovecot_*.buildinfo
../dsmr-checkpassword-dovecot_*.changes
../dsmr-checkpassword-dovecot_*.dsc
../dsmr-checkpassword-dovecot_*.tar.*

# emacs backups
*~
